*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root{
    --color-primary:#6c63ff;
    --color-success:#00bf8e;
    --color-warning:#f7c94b;
    --color-danger:#f75842;
    --color-danger-variant:rgba(247,88,66,.7);
    --color-white:#fff;
    --color-light:rgba(255,255,255,0.7);
    --color-black:#000;
    --color-bg:#1f2641;
    --color-bg1:#2e3267;
    --color-bg2:#424890;

    --my_container-width-lg:76%;
    --my_container-width-md:90%;
    --my_container-width-sm:94%;

    --transition:all 400ms ease;

}
body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background-color: var(--color-bg);
}
.my_container{
    width: var(--my_container-width-lg);
    margin: 0 auto;

}
section{
    padding: 6rem 0;
}
section h2{
    text-align: center;
    margin-bottom: 4rem;
}
h1, h2,h3,h4,h5{line-height: 1.2;}

h1{font: 2.4rem;}
h2{font: 2rem;}
h3{font: 1.6rem;}
h4{font: 1.3rem;}

a{
    color: var(--color-white);
}
img{
    width: 100%;
    display: block;
    object-fit: cover;
}
.btn{
    display: inline-block;
    background-color: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}
.btn:hover{
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}
.btn-primary{
    background: var(--color-danger);
    color: var(--color-white);
}

/* ================NAVBAR================= */
nav{
    background-color:transparent;
    width: 100vw;
    height: 5.5rem;
    position: fixed;
    top: 0;
    z-index: 11;
    transition: background-color 500ms linear;
    transition: .6s;
    padding: 50px 100px;
    
    
}
/* Change of Nav-Bar */
.my_window-scroll{
    background-color: #f7f1e3;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
    transition: background-color 500ms linear;
    padding: 5px 100px;
    
    
} 
.nav___my_container{
    height: 100%;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}
nav button{
    display: none;
}
.nav__menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 4rem; 
}
.nav__menu a{
    font-size: 1.3rem;
    transition: var(--transition);
    letter-spacing: 1px;
    position: relative;
    /* color: rgb(24, 188, 238); */
    font-weight: bolder;
    color: #1B1464;
   
    /* padding: 0 .5rem; */
}
 .nav__menu a:after{
    content: "";
    position: absolute;
    background-color: var(--color-bg1);
    height: 3px;
   width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.nav__menu a:hover{
    color: var(--color-bg1);
    text-decoration: none;
} 
.nav__menu a:hover:after{
    width: 100%;
}  
.logo__div{
    display: flex;
    flex-direction: row;
    gap: .5rem;
    position: fixed;
    left: 0;
    top: 0;
   
    
}
.nss__logo{
    height: 80px;
    width: 80px;
    margin-left: .5rem;
} 

/*TODO Change it to percentage
/* TODO Make img div circle and add shadow to it */
/* .nss__logo img{
    webkit-box-shadow: 20px 18px 27px -14px rgba(0,0,0,0.75);
-moz-box-shadow: 20px 18px 27px -14px rgba(0,0,0,0.75);
box-shadow: 20px 18px 27px -14px rgba(0,0,0,0.75);
} */
.nss__title{
     margin-top: .5rem;
    

    /* margin-left: .5rem; */
} 
.nss__title h2,h3{
    
    /* margin-top: 1rem; */
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0;
    font-weight: 600;                
    
    color: #1B1464;                 
    font-size: 2rem;
}
.nss__title h3{
    font-family: 'Raleway', sans-serif;
    color: #1B1464; 
    font-weight: 700;                
}

/* ----------------Carousel Style ------------------*/
.car__img{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
  }
  
  .carousel-caption{
    margin-left: -10%;
  }
  .carousel-caption h5{
    font-size: 6rem;
    text-align: start;
    line-height: 3rem;;
  }
  .carousel-item p{
    font-size: 3rem;
    text-align: start;
  }
  /* ========TESTIMONIAL=========== */


  /* Heading */
  h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 100px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  .testimonial__heading{
    display: flex;
    display: block;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .twelve h1 {
      font-size: 40px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      display: inline;
      width: 100%;
      text-align: center;
      margin: auto;
      text-align: center;
      white-space: nowrap;
      padding-bottom: 13px;
  }
  .twelve h1:before {
      background-color:whitesmoke;
      content: '';
      display: block;
      height: 5px;
      width: 75px;
      margin-bottom: 1px;
  }
  .twelve h1:after {
      background-color:whitesmoke;
      content: '';
      display: block;
    position:absolute; 
        right: 0rem;
     bottom:0;
      height: 5px;
      width: 75px;
      margin-bottom: 0.25em;
  }
  
  /* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.testimonies{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.testimonies{
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #474787;
  /* margin:3rem 2rem; */
  width: 100%;
  border: none;
}
.slide-container{
  max-width: 1500px;
  width: 100%;
  padding: 40px 0;
  background-color: #474787;
  margin: 0;
}
.slide-content{
  margin: 40px 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 25px;
  background-color: #474787;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070F4;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070F4;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  border-color: #FFF;
  background-color: #FFF;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070F4;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: #265DF2;
}

.swiper-navBtn{
  color: #6E93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #6E93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #4070F4;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}

/* =======FOOTER=========== */
footer{
    background-color: var(--color-bg1);
    padding-top: 4rem;
    font-size: .9rem;
 }
 .footer__container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5rem;
 }
 .footer__container > div h4{
    margin-bottom: 1.25rem;
 }
 .footer__1 p{
    margin: 1rem 0 2rem;
 }
 .footer ul li{
    margin-bottom: .7rem;
 }
 .footer ul li:hover{
    text-decoration: underline;
 }
 .footer__socials{
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: .5rem;
 }
 .footer__copyright{
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 1px solid var(--color-bg2);
 }
